# General 
.Rproj.user
.Rhistory
.RData
.Ruserdata

#python venvs
*/env/
env/

#knit output
reports/images/*
*/.DS_Store

#all tmp folders
*/tmp/*

# Local only folders
data_local/*

# Local only folders
data_local/*

# eePlumB
*/.httr-oauth

# VS Code
.vscode